<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RT3MapEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <RT3MapEditor.My.MySettings>
            <setting name="importPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value />
            </setting>
            <setting name="tempDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BurningCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="mode" serializeAs="String">
                <value />
            </setting>
            <setting name="exportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value>c:\RTxMAP</value>
            </setting>
            <setting name="ISODir" serializeAs="String">
                <value>c:\RTxMAP</value>
            </setting>
            <setting name="BurnedMapNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="configComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importErrIncFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importErrIncCoord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importErrEmptyArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreRT3AltName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importAscQuoted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importTxtQuoted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importCsvSepInt" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="importLogError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strGpsPasPAN" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasPL" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRF" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRM" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRFR" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasR" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasF" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasNC" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRD" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasKMH" serializeAs="String">
                <value />
            </setting>
            <setting name="gpspasUserDefName" serializeAs="String">
                <value />
            </setting>
            <setting name="gpspasDispMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isGpsPasMiscDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasTypeDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasNumDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasRFRPostDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasSep1Displayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSpeedDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSpeedUnitDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSep2Displayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasDirDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strGpsPasSep1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="isGpsPasStartDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasEndDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strGpsPasStart" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasSep2" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="ignoreRT3Borgate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeEmbassy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeIndustArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeBorderCrossing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changePerfArts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeCivicCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeMedicServ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeMotorb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STimportAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STimportAllMag" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="STimportFixed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportFixedMag" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="STimportMobile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STimportMobileMag" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="STImportF120_130G" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportF120_130GMag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="STImportF100_119" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportF100_119Mag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="STImportF80_99" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportF80_99Mag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="STImportF60_79" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportF60_79Mag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="STImportF0_59" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportF0_59Mag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="STImportM120_130" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportM100_119" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportM100_119Mag" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="STImportM80_99" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportM80_99Mag" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="STImportM60_79" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportM0_59" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportM0_59Mag" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="STImportRFR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STImportRFRMag" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="STImportMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="STImportM120_130Mag" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="STImportM60_79Mag" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="STimportAllType" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportFixedType" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportMobileType" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF120_130GType" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF100_119Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF80_99Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF60_79Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF0_59Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM120_130Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM100_119Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM80_99Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM60_79Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM0_59Type" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportRFRType" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportAllTypeIsNP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STImportFixedTypeIsNP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STImportMobileTypeIsNP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importDefaultType" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="importDefaultMag" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="exportFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="exportLatCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportNameCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportAddressCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportTelCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportCityCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportCommentCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportBrandCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportRT3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportFieldLatCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldLonCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldNameCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldAddressCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldCityCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldTelCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldCommentCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldBrandCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportAddressAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportCityAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportTelAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportCommentAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportBrandAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportLonCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportFieldLatTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldLonTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldNameTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldAddressTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldCityTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldTelTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldCommentTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldBrandTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportAscIntSeparator" serializeAs="String">
                <value> | </value>
            </setting>
            <setting name="exportCountryAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportCountryCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportFieldCountryTxt" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFieldCountryCsv" serializeAs="String">
                <value />
            </setting>
            <setting name="exportCsvSepInt" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="exportDecSepCsvInt" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="exportTxtSepInt" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="exportFieldERT3Txt" serializeAs="String">
                <value>ERT3</value>
            </setting>
            <setting name="exportFieldNRT3Txt" serializeAs="String">
                <value>NRT3</value>
            </setting>
            <setting name="exportFieldTypeTxt" serializeAs="String">
                <value>Type</value>
            </setting>
            <setting name="exportFieldMagnitudeTxt" serializeAs="String">
                <value>Magnitude</value>
            </setting>
            <setting name="exportFieldCtTxt" serializeAs="String">
                <value>ct</value>
            </setting>
            <setting name="forceRadarDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USBKeyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="configCompleteOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTxType" serializeAs="String">
                <value>RT3</value>
            </setting>
            <setting name="ImportDefaultTypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="RT4CDRMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RT4USBMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STimportAllTypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportAllTypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportFixedTypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportFixedTypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF0_59TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF0_59TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF60_79TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF60_79TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF80_99TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF80_99TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF100_119TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF100_119TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF120_130GTypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportF120_130GTypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportRFRTypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportRFRTypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportMobileTypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STimportMobileTypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM0_59TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM0_59TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM60_79TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM60_79TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM80_99TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM80_99TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM100_119TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM100_119TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM120_130TypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="STImportM120_130TypeRT4" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="ImportDefaultTypeRT3" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="ignoreRT4Borgate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT4Embassy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT4IndustArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT4BorderCrossing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT4PerfArts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changeRT4CivicCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT4MedicServ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT4Motorb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreRT4AltName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="newChangeImpIgn" serializeAs="String">
                <value />
            </setting>
            <setting name="changeRT3Embassy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT3IndustArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT3BorderCrossing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT3PerfArts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT3CivicCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT3MedicServ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRT3Motorb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreRTxBorgate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreRTxAltName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxEmbassy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxIndustArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxBorderCrossing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxPerfArts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxCivicCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxMedicServ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeRTxMotorb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importDefaultMagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="importDefaultMagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STimportAllMagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STimportAllMagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportF0_59MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportF0_59MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportF100_119MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportF100_119MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportF120_130GMagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportF120_130GMagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportF60_79MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportF60_79MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportF80_99MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportF80_99MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportFixedMagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportFixedMagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportM0_59MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportM0_59MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportM100_119MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportM100_119MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportM120_130MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportM120_130MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportM60_79MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportM60_79MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportM80_99MagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportM80_99MagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STimportMobileMagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STimportMobileMagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STImportRFRMagRT3" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="STImportRFRMagRT4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RTxModeMap" serializeAs="String">
                <value>map</value>
            </setting>
            <setting name="WorkingDirAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="alertDIRCID" serializeAs="String">
                <value>002</value>
            </setting>
            <setting name="RTxVersion" serializeAs="String">
                <value>ver56x</value>
            </setting>
            <setting name="strGpsPasPANMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasPLMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRFMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRMMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRFRMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasFMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasNCMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRDMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasKMHMap" serializeAs="String">
                <value />
            </setting>
            <setting name="gpspasUserDefNameMap" serializeAs="String">
                <value />
            </setting>
            <setting name="gpspasDispModeMap" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isGpsPasMiscDisplayedMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasTypeDisplayedMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasNumDisplayedMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasRFRPostDisplayedMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasSep1DisplayedMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSpeedDisplayedMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSpeedUnitDisplayedMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSep2DisplayedMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasDirDisplayedMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strGpsPasSep1Map" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="isGpsPasStartDisplayedMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasEndDisplayedMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strGpsPasStartMap" serializeAs="String">
                <value>&lt;</value>
            </setting>
            <setting name="strGpsPasEndMap" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasSep2Map" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="strGpsPasPANAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasPLAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRFAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRMAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRFRAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasFAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasNCAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasRDAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasKMHAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="gpspasUserDefNameAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="gpspasDispModeAlert" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isGpsPasMiscDisplayedAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasTypeDisplayedAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasNumDisplayedAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasRFRPostDisplayedAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasSep1DisplayedAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSpeedDisplayedAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSpeedUnitDisplayedAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasSep2DisplayedAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGpsPasDirDisplayedAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strGpsPasSep1Alert" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="isGpsPasStartDisplayedAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGpsPasEndDisplayedAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strGpsPasStartAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="strGpsPasEndAlert" serializeAs="String">
                <value>&gt;</value>
            </setting>
            <setting name="strGpsPasSep2Alert" serializeAs="String">
                <value>-</value>
            </setting>
        </RT3MapEditor.My.MySettings>
    </userSettings>
</configuration>
